body{
    background-image: url(mina.jpeg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: 100% 100%;
    margin: 0;
    height: 1000px;
    position: relative;
}
.nav{
    background-color: black;
    color: white;
    height: 20px;
    width: 100%;
    padding: 2px 0 12px 20px;
    font-size: 21px;
    font-family: cursive;
    position: fixed;
    top: 0px;
    z-index: 1999999999;

}
.name{
    text-align: center;
    color: #ff0057;
    font-family: cursive;
    font-size: 35px;
    margin-top: 215px;
    font-weight: bolder;
}
h1{
    text-align: center;
    color: #ff7f73;
    font-family: cursive;
    margin: 0;
    letter-spacing: 20px;
}
.all{
    background-color: black;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;

}
.html{
    color: white;
    border: 1px #272626 solid;
    width: 70%;
    margin: auto;
    background-color: #272626;
    border-radius: 10px;
    text-align: center;
    margin-top: 51px;
}
.css{
    color: white;
    border: 1px #272626 solid;
    width: 70%;
    margin: auto;
    background-color: #272626;
    border-radius: 10px;
    text-align: center;
    margin-top: 51px;
}
.services{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #272626;
    width: 90%;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
}
.web{
    color: white;
    border: 1px black solid;
    width: 70%;
    margin: auto;
    background-color: black;
    border-radius: 10px;
    text-align: center;
    margin-top: 70px;
}
.cpp{
    color: white;
    border: 1px black solid;
    width: 70%;
    margin: auto;
    background-color: black;
    border-radius: 10px;
    text-align: center;
    margin-top: 70px;
}
.portfolio{
    margin-top: 100px;
}
.one{
  
    width: 40%;
    height: 200px;
    margin: auto;
    background-color: #272626;
    background-image: url(download.jpeg);
    background-repeat: no-repeat;
    margin-top: 50px;
    background-position: center;
    border-radius: 10px;
    background-size: 250px 225px;
}
.two{
    background-size: 250px 225px;
    width: 40%;
    height: 200px;
    margin: auto;
    background-color: #272626;
    background-image: url(morg.jpeg);
    background-repeat: no-repeat;
    margin-top: 50px;
    background-position: center;
    border-radius: 10px;
}

h2{
    text-align: center;
    color: #14006b;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 150px;
}
.about{
    background-color: rgb(255 255 255 / 60%);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 150px;
}
.contact{
    height: 200px;
    color: #d69708;
    background-color: black;
    text-align: center;
    padding-top: 110px;
    font-size: 30px;
}
.mail{
    margin-bottom: 30px;
}
.face-link{
    color:#d69708 ;
}
.mynom{
    color: white;
    font-size: 16px;
    margin: 60px 627px 0 0;
}